body {
  background-color: #e5e5e5;
}

form {
  max-width: 500px;
  margin: 180px auto;
}

form input {
  height: 50px !important;
}

form input:nth-child(3) {
  margin: 10px 0;
}
/*# sourceMappingURL=backend.css.map */