// start general rules

body{
    background-color: #e5e5e5;
}

// end  general rules

// start login form rules

form{
    max-width: 500px;
    margin: 180px auto;
    input{
        height: 50px !important;
    }
    input:nth-child(3){
        margin: 10px 0;
    }
}

// end   login form rules